.app-header {
    button {
        margin: 0 16px;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .mat-toolbar {
        background-color: black;
        color: white;
    }
    .mat-mdc-outlined-button:not(:disabled) {
        border-color: white;
    }
}
