<section class="page-busca">
    <img src="assets/banner-formas.png" alt="">
    <app-container>
        <app-form-busca />
        <app-titulo texto="Promoções" />
        <div class="card-wrapper">
            <app-busca-card />
            <app-busca-card />
            <app-busca-card />
            <app-busca-card />
            <app-busca-card />
            <app-busca-card />
        </div>    
        <app-titulo texto="Depoimentos" />
        <div class="card-wrapper">
            <app-depoimento />
            <app-depoimento />
            <app-depoimento />
        </div>
    </app-container>
    <img src="assets/banner-formas.png" alt="">
    <app-footer />
</section>