<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li>Jornada</li>
                <li>Horário de atendimento: 08h - 20h (Segunda a Sábado)</li>
                <li>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</li>
            </ul>
            <ul class="socials">
                <li>Acesse nossas redes:</li>
                <li>
                    <button mat-icon-button color="primary" aria-label="">
                        <mat-icon>facebook</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" aria-label="">
                        <mat-icon>facebook</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" aria-label="">
                        <mat-icon>facebook</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </app-container>
</footer>